.app {
  .chat {
    margin: 10px 0px;
    border: 1px solid #2e64c4;
  }

  .chat-header {
    background-color: #2e64c4;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .feed {
    opacirt: 0.8;
    padding: 25px;

    overflow-y: scroll;
    max-height: 500px;

    .message {
      .message-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
      }

      padding: 10px;
      margin: 25px;
      border-radius: 20px;
      background-color: #2e64c4;
      color: #fff;

      &.left {
        border-top-left-radius: 0;
        margin-left: 0;
      }

      &.right {
        border-bottom-right-radius: 0;
        margin-right: 0;
      }
    }
  }

  .message-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .message-input-field {
      width: 90%;
    }
  }
}

input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #2e64c4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
